# copied from https://github.com/Fieldguide/github-actions-common/blob/main/.github/workflows/action-lint.yaml

name: Action Lint
on:
  pull_request:
  workflow_call:
jobs:
  actionlint:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v6
      - uses: reviewdog/action-actionlint@v1.70.0
        with:
          actionlint_flags: "-shellcheck= "
          fail_level: error
